appdirs==1.4.4
autopep8==1.6.0
flake8==4.0.1
jedi==0.18.1
mccabe==0.6.1
parso==0.8.3
prompt-toolkit==3.0.29
ptpython==3.0.20
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
toml==0.10.2
wcwidth==0.2.5
